.item {
  display: flex;
  width: 400px;
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.avatar {
  width: 80px;
  padding: 10px;
  border: 1px solid rgb(227, 234, 243);
  border-radius: 8px;
}

.name {
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.isOnline {
  composes: status;
  background-color: green;
}
.isOffline {
  composes: status;
  background-color: red;
}
