.table_tr td {
  text-align: left;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}
.table_tr:nth-child(even) {
  background: #f3f3f3;
}
.table_tr td:first-child {
  border-radius: 8px 0 0 8px;
}
.table_tr td:last-child {
  border-radius: 0 8px 8px 0;
}
